*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
html,body{
    height: 100%;
    width: 100%;
}
#box{
    /* height: 300px;
    width: 300px; */
    /* px are fixed  */
    height: 500px;
    width: 300px;
    background-color: crimson;
}
#inner{
    /* height: 200px;
    width: 200px; */
    height: 50%; 
    width: 50%;
    /* percentage depends on the parents parameters*/
    background-color:royalblue;
}
