.toggle-switch {
    display: flex;
    align-items: center;
  }
  
  .toggle-switch-checkbox {
    height: 0;
    width: 0;
    visibility: hidden;
  }
  
  .toggle-switch-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 50px;
    height: 25px;
    background: grey;
    border-radius: 50px;
    position: relative;
    transition: background-color 0.2s;
  }
  
  .toggle-switch-label .toggle-switch-button {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 21px;
    height: 21px;
    border-radius: 21px;
    transition: 0.2s;
    background: #fff;
    box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
  }
  
  .toggle-switch-checkbox:checked + .toggle-switch-label .toggle-switch-button {
    left: calc(100% - 2px);
    transform: translateX(-100%);
  }
  
  .toggle-switch-label:active .toggle-switch-button {
    width: 30px;
  }
  