*{
    margin:0;
    padding: 0;
    font-family: sans-serif;
}
.header{
     background-color: #f2f2f2;
     height: 70px;
     position: relative;
     /* align-content: center; */
     display: flex;
     justify-content: space-between;
     /* padding-bottom: 10px; */
}
#icons{
    padding-top: 19px;
}
#logo{
    padding-left: 10px;
    padding-top: 10px;
    
}
#close{
    height: 3vh;
    padding-top: 2vh;
}
#main{
    background-image: url(./1.jpeg);
    background-size: cover;
    height: 82vh;
    width: 57%;
    margin-left: 400px;
    
}
#art{
    color: white;
    font-size: 90px;
   
    padding-left: 10vh;
    padding-top: 10vh;
  
}
#school{
    color: white;
    font-weight: 900;
    font-size: 200px;
    padding-left: 10vh;
    padding-top: 32vh;

    
}
#s2{
    background-color: #7da2a9;
    color: white;
    background-size: cover;
    height: 82vh;
    display: flex;
    align-items: center;
    
}
#s2-span-1{
    /* text-align: center; */
    margin-left:20vh;  
    font-size: 3vh;
    margin-right: 100px;
    font-weight: 900;
    align-items: end;
}

#s2-span-2{
    font-size: 3vh; 
}
#BGB{
    color: black;
}
#s3{
    height: 120%;
    width: 100%;
    background-color: #f2f2f2;
    align-items: center;
    
}
#s3-h2{
    font-size: 39px;
    font-weight: 900;
    text-align: center;
    align-items: center;
    padding-top: 120px;
    
}
#s3-p{
    padding-top: 20px;
    margin-left: 300px;
    padding-right: 300px;
    text-align: center;
}
#container{
    /* background-color: red; */
    display: grid;
    height: 82vh;
    width: 100%;
    /* justify-content: space-around; */
    grid-template-columns: repeat(3,1fr);
}
.box{
    height: 300px;
    width: 288px;
    /* background-color: #f2f2f2; */
}


#box-1,#box-2,#box-3{
    /* margin: auto; */
    padding-top: 1%;
    padding-left: 50px;
    margin-top: 100px;
}
#box-4,#box-5,#box-6{
    margin:auto;  
    padding-bottom: 400px;
    padding-left: 20px;
}
#s4{
    width: 1088px;
    height: 684px;
    position: relative;
    background-color: black;
    display: flex;
}
#s4-1-image{
    height: 500px;
    width: 460px;
    position: relative;
    padding-top: 100px;
    margin-left: 100px;
}
#s4-2{
    color: white;
    padding-left: 30px;
    padding-top: 200px;
}
#s4-h2{
    width: 316px;
    height: 66px;
    font-size: 30px;
    margin-bottom:30px ;
}
#s4-p{
    width: 427px;
    height: 127.97px;
    font-size: 20px;
    /* padding:30px ; */
    word-spacing: 2px;
    padding: auto;
    
}
#s4-button{
background-color: #7DA2A9;
font-size: 16px;
height: 45.59px;
width: 138.33px;
color: #f2f2f2;
margin: 30px;
margin-left: 0px;
}
#s5{
    width: 1040px;
    height: 1600px;
    color: #111111;
   
}
#s5-h2{
    margin-top: 100px;
    padding-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-weight:900;
}
#s5-p{
 
    margin-left: 250px;
    padding-right: 250px;
    text-align: center;
    margin-bottom: 80px;
}
.images{
    /* align-items: cover; */
    height: 400px;
    width: 400px;
}

#s5-image{


display: grid;
grid-template-columns: repeat(2,400px);
grid-template-rows: repeat(3,400px);
gap:20px;
margin-left: 125px;
}
#s6{
background-color: #7DA2A9;
height: 349px;
display: flex;
color: #f2f2f2;
align-content: space-between;

}
.s6-h2{
    padding-left: 100px;
    margin-top: 160px;
    margin-right: 200px;
 
}
.s6-p{
    padding-left: 80px;
 
}
#s7{
    height: 600px ;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 0;
}
.s7-images{
    width: 362px;
    height: 500px;
}

 
.eighth {
    display: flex;
    height: 90vh;
    }
    
    .eighth > .info {
    box-sizing: border-box;
    color: white;
    width: 50vw;
    height: inherit;
    background-color: #7da2a9;
    padding-left: 5em;
    padding-top: 8em;
    }
    
    .eighth > .info > h4 {
    font-size: 25px;
    }
    
    .eighth > .info > p {
    margin-top: 20px;
    margin-right: 50px;
    line-height: 25px;
    }
    
    .eighth > .info > .address {
    margin-top: 20px;
    line-height: 25px;
    }
    
    .eighth > .info > .icons {
    margin-top: 20px;
    display: flex;
    justify-content: left;
    gap: 15px;
    }
    
    .eighth > .info > .icons > svg {
    cursor: pointer;
    }
    
    .eighth > .form {
    width: 50vw;
    height: inherit;
    background-color: black;
    display: flex;
    align-items: center;
    
    
    }
    
    .eighth > .form > form {
    width: 80%;
    margin: auto;
    }
    
    .eighth > .form > form > input, textarea {
    width: 95%;
    border: 1px solid white;
    background-color: black;
    padding: 15px;
    margin: 5px;
    font-size: 15px;
    }
    
    .eighth > .form > form > button {
    border: 1px solid black;
    background-color: whitesmoke;
    padding: 10px 25px;
    margin: 10px;
    font-size: 15px;
    }
    
    /* nineth */
    
    .nineth {
    height: 60px;
    background-color: #333333;
    justify-content: center;
    align-items: center;
    }
    
    .nineth > p {
    color: white;
    font-size: 12px;
    margin: auto;
    }